<!DOCTYPE html>
<html lang="{{lang}}" dir="{{dir}}">
{{head}}
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TJTJW398"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {{header}}

  <main class="container notfound">
    <h1>404</h1>
    <p class="subtitle">{{notFoundText}}</p>
    <p><a class="btn-primary btn-inline" href="{{homeHref}}">{{notFoundHome}}</a></p>
  </main>

  {{footer}}
  <script src="/assets/js/app.js"></script>
</body>
</html>
