<!DOCTYPE html>
<html lang="{{lang}}" dir="{{dir}}">
{{head}}
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TJTJW398"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {{header}}

  <main class="container">
    <section class="hero">
      <h1>{{h1}}</h1>
      <p class="subtitle">{{subtitle}}</p>
    </section>

    <section class="tools">
      <h2>{{toolsHeading}}</h2>
      <div class="tools-grid">
        {{toolsList}}
      </div>
    </section>
  </main>

  {{footer}}
  <script src="{{jsHref}}"></script>
</body>
</html>
