<!DOCTYPE html>
<html lang="{{lang}}" dir="{{dir}}">
{{head}}
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TJTJW398"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {{header}}

  <main class="container legal">
    <h1>{{h1}}</h1>
    <p class="last-updated">{{lastUpdatedLabel}}: {{lastUpdated}}</p>
    {{sectionsHtml}}
  </main>

  {{footer}}
  <script src="{{jsHref}}"></script>
</body>
</html>
